/**
 *  Helpers
 */

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/**
 *  Layout
 */

body {
    font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    padding: 70px 0 0;
}

@media (min-width: 992px) {
    body {
        padding-bottom: 70px;
    }
}

/**
 *  Typography
 */

/**
 *  Header
 */

.banner {
    position: relative;
    height: 92px;
    margin: 0 10px;
}

.banner .banner-text {
    display: block;
    text-align: center;
    max-width: 100%;
    width: 400px;
    height: 72px;
    margin: 0 auto;
    background-image: url(../images/logo-text--400x72.png);
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    .banner {
        width: 100%;
        height: 380px;
        margin: -20px 0 20px;
        background-color: #000;
        background-image: linear-gradient(#000, #323232);
        background-position: top center;
        background-repeat: no-repeat;
    }
    .banner:before {
        content: '';
        position: absolute;
        width: 100%;
        background-color: transparent;
        background-image: linear-gradient(to right bottom, transparent 49%, #333 50%, transparent 51%);
        background-size: 8px 8px;
        top: 0;
        bottom: 0;
        left: 0;
    }
    .banner:after {
        content: '';
        overflow: visible;
        position: absolute;
        width: 60%;
        background-color: white;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .banner .banner-divider {
        display: block;
        position: absolute;
        width: 150px;
        height: 380px;
        background-image: url(../images/banner/banner.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        top: 0;
        right: 60%;
        z-index: 2;
    }

    .banner .banner-logo {
        display: block;
        position: absolute;
        width: 320px;
        height: 240px;
        background-image: url(../images/banner/logo.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        top: 50px;
        right: 72%;
    }

    .banner .banner-text {
        position: absolute;
        width: 600px;
        height: 108px;
        padding-top: 200px;
        background-image: url(../images/logo-text--600x108.png);
        top: 150px;
        left: 42%;
        z-index: 1;
    }
}

/**
 *  Content
 */

.input-league .input-league-addon,
.input-steam .input-steam-addon,
.input-blizzard .input-blizzard-addon {
    min-width: 34px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.input-league .input-league-addon {
    background-size: auto 104%;
    background-image: url(//d11y3kg0vwf4zk.cloudfront.net/assets/league_logo-59ee819b80e61f27f8c1fcf932abdd59.png);
}

.input-steam .input-steam-addon {
    background-image: url(//img2.wikia.nocookie.net/__cb20130607061922/fallout/images/3/3b/Steam-Logo.png);
}

.input-blizzard .input-blizzard-addon {
    background-image: url(//eu.battle.net/static/local-common/images/logos/bnet-default.png);
    background-color:#4a4a4a;
    background-position: 0 0;
}

/**
 *  Modules
 */

.teamspeak-widget {
    overflow: hidden;
    margin-top: 30px;
}

.teamspeak-widget .panel-body {
    overflow: auto;
    max-height: 300px;
}

.teamspeak-widget .teamspeak-widget-generated {
    overflow: hidden;
}

.teamspeak-widget .teamspeak-widget-generated>div {
    margin-bottom: -16px;
}

/**
 *  Footer
 */