---
layout: base
---
{% assign news = site.categories.news %}

<article class="container">
    <header>
        <h1><strong>All Articles</strong></h1>
    </header>
    {% for article in news %}
        {% assign first_item = false %}
        {% capture month %}{{ article.date | date:"%B %Y" }}{% endcapture %}
        {% if current_month != month %}
            {% unless forloop.first %}
    </section>
            {% endunless %}
    <section class="clearfix">
        <p class="lead"><strong>{{ month }}:</strong></p>
        {% endif %}
            <div class="col-sm-6">
                {% include partial/article-teaser.html %}
            </div>
        {% if current_month != month %}
            {% assign first_item = true %}
            {% assign current_month = month %}
        {% else %}
            {% assign first_item = false %}
        {% endif %}
    {% endfor %}
    </section>
</article>