<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% if page.title %}{{ page.title }} &ndash; {{ site.title }}{% else %}{{ site.title }} | {{ site.caption | markdownify | strip_html }}{% endif %}</title>
        <link rel="author" href="/humans.txt">
        <link rel="shortcut icon" href="/favicon.ico" />
        <link href='http://fonts.googleapis.com/css?family=Exo+2:700,500,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        {% assign current = page.url | downcase | split: '/' %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-xs hidden-sm" href="/">{{ site.title }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav">
                        <li {% if current[1] == 'index.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}">Home</a></li>
                        <li {% if current[1] == 'blog' %}class='active'{% endif %}><a href="/blog">Blog</a></li>
                        <li {% if current[1] == 'join' %}class='active'{% endif %}><a href="/join">Join Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Content -->
        {% capture body %}{{ content }}{% endcapture %}
        {{ body }}

        <!-- Footer -->
        <footer class="navbar navbar-inverse navbar-fixed-bottom hidden-xs hidden-sm">
            <div class="container">
                <p class="navbar-text muted">Built and maintained by  <a href="/humans.txt">society admin team</a></p>
                <ul class="nav navbar-nav navbar-right">
                    {% for link in site.elsewhere %}
                    <li><a href="{{ link.link }}" title="{{ link.desc }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </footer>

        {% if site.analytics %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.analytics }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}

        {% if site.share %}
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.share }}" async></script>
        {% endif %}

    </body>
</html>
