---
layout: base
---
{% assign news = site.categories.news %}
{% for article in news %}
    {% if article.id == page.id %}
        {% assign current == article %}
        {% assign total = forloop.length %}
        {% assign prev = forloop.index %}
        {% capture next %}{{ forloop.index | minus:2}}{% endcapture %}
    {% endif %}
{% endfor %}

<article class="container">
    <section class="row">
        <article class="col-sm-8">
            <header>
                {% assign article = page %}
                {% if article.image %}
                    <aside class="col-sm-12">
                        <img src="{{ article.image.url }}" class="center-block img-responsive img-rounded" alt="{{ article.image.title }}" />
                        <br class="clearfix" />
                    </aside>
                {% endif %}
                <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
                <p class="muted col-sm-12">
                    <br />
                    {% if article.authors %}
                        Written by 
                        {% capture list %}
                            {% for author in article.authors %}
                                {% if forloop.first != true and forloop.last %} &amp; {% endif %}
                                {% unless forloop.first or forloop.last %}, {% endunless %}
                                {% if author.link %}
                                    <a href="{{ author.link }}">{{ author.name }}</a>
                                {% else %}
                                    {{ author.name }}
                                {% endif %}
                            {% endfor %}
                        {% endcapture %}
                        {{ list | strip_newlines }}
                    {% endif %}
                </p>
            </header>
            <section class="clearfix">
                {% capture timestamp %}{{ article.date | date:"%FT%T%z" }}{% endcapture %}
                <time title="{{ timestamp }}" datetime="{{ timestamp }}" class="col-sm-12">
                    <span class="date">{{ article.date | date:"%A, %-d %B %Y" }}</span>
                </time>
            </section>
            <hr />
            <section class="clearfix">
                {{ article.content | markdownify }}
            </section>
        </article>
        <br class="clearfix" />
        <aside class="col-sm-4">
            {% for article in news offset:prev limit:1 %}
            <section class="hidden-xs hidden-sm">
                <p class="lead"><strong>Previous article</strong></p>
                {% include partial/article-teaser.html %}
            </section>
            <hr />
            {% endfor %}
            {% for article in news offset:next limit:1 %}
            <section class="hidden-xs hidden-sm">
                <p class="lead"><strong>Next article</strong></p>
                {% include partial/article-teaser.html %}
            </section>
            <hr />
            {% endfor %}
            <footer>
                <ul class="nav navbar-nav">
                    <li class="muted"><p class="navbar-text">View <a href="/news/">all articles</a></p></li>
                    <li class="muted"><p class="navbar-text">Back to <a href="/">homepage</a></p></li>
                </ul>
            </footer>
        </aside>
    </section>
</article>
