---
layout: base
---
{% assign blog = site.categories.blog %}
{% for article in blog %}
    {% if article.id == page.id %}
        {% assign current == article %}
        {% assign total = forloop.length %}
        {% assign prev = forloop.index %}
        {% capture next %}{{ forloop.index | minus:2}}{% endcapture %}
    {% endif %}
{% endfor %}

<article class="container">
    <section class="row">
        <article class="col-sm-8">
            <header>
                {% assign article = page %}
                {% if article.video %}
                    {% if article.video.youtube %}
                        {% include partial/article-youtube-embed.html %}
                    {% endif %}
                {% elsif article.image %}
                    <aside class="col-sm-12">
                        <img src="{{ article.image.url }}" class="center-block img-responsive img-rounded" alt="{{ article.image.title }}" />
                        <br class="clearfix" />
                    </aside>
                {% endif %}
                <h1>
                    <a href="{{ article.url }}">{{ article.title }}</a>
                    {% for tag in article.tags reverse limit:1 %}
                    <small><span class="label label-primary">{{ tag }}</span></small>
                    {% endfor %}
                </h1>
                <p class="muted col-sm-12">
                    <br />
                    {% if article.authors %}
                        Written by 
                        {% capture list %}
                            {% for author in article.authors %}
                                {% if forloop.first != true and forloop.last %} &amp; {% endif %}
                                {% unless forloop.first or forloop.last %}, {% endunless %}
                                {% if author.link %}
                                    <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>
                                {% else %}
                                    {{ author.name }}
                                {% endif %}
                            {% endfor %}
                        {% endcapture %}
                        {{ list | strip_newlines }}
                    {% endif %}
                </p>
            </header>
            <section class="clearfix">
                <div class="col-sm-6">
                    {% capture timestamp %}{{ article.date | date:"%FT%T%z" }}{% endcapture %}
                    <time title="{{ timestamp }}" datetime="{{ timestamp }}">
                        <span class="date">{{ article.date | date:"%A, %-d %B %Y" }}</span>
                    </time>
                    <p>
                        {% for tag in article.tags offset:1 limit:3 %}
                        <span class="label label-default">{{ tag }}</span>
                        {% endfor %}
                    </p>
                </div>
                <aside class="col-sm-6">
                    {% if article.share %}
                        {% include partial/article-share.html %}
                    {% endif %}
                </aside>
            </section>
            <hr />
            <section class="clearfix">
                {{ article.content | markdownify }}
            </section>
            {% if article.comments %}
                {% include partial/article-comments.html %}
            {% endif %}
        </article>
        <br class="clearfix" />
        <aside class="col-sm-4">
            {% for article in blog offset:prev limit:1 %}
            <section class="hidden-xs hidden-sm">
                <p class="lead"><strong>Previous article</strong></p>
                {% include partial/article-teaser.html %}
            </section>
            <hr />
            {% endfor %}
            {% for article in blog offset:next limit:1 %}
            <section class="hidden-xs hidden-sm">
                <p class="lead"><strong>Next article</strong></p>
                {% include partial/article-teaser.html %}
            </section>
            <hr />
            {% endfor %}
            <footer>
                <ul class="nav navbar-nav">
                    <li class="muted"><p class="navbar-text">View <a href="/blog/">all articles</a></p></li>
                    <li class="muted"><p class="navbar-text">Back to <a href="/">homepage</a></p></li>
                </ul>
            </footer>
        </aside>
    </section>
</article>
